In [1]:
import platform
print(platform.python_version())

3.7.1

In [2]:
from pyspark.sql import SparkSession, types
from pyspark.sql.functions import to_timestamp, unix_timestamp, max as max_dttm
from pyspark.sql.types import *
spark = SparkSession.builder.appName('PySpark').getOrCreate()
print(spark.version)

2.4.0

In [3]:
df = spark.read.csv('chicago_crimes_2001_to_present.csv', header=True, inferSchema=True)
df.printSchema()

root
 |-- ID: integer (nullable = true)
 |-- Case Number: string (nullable = true)
 |-- Date: string (nullable = true)
 |-- Block: string (nullable = true)
 |-- IUCR: string (nullable = true)
 |-- Primary Type: string (nullable = true)
 |-- Description: string (nullable = true)
 |-- Location Description: string (nullable = true)
 |-- Arrest: boolean (nullable = true)
 |-- Domestic: boolean (nullable = true)
 |-- Beat: integer (nullable = true)
 |-- District: integer (nullable = true)
 |-- Ward: integer (nullable = true)
 |-- Community Area: integer (nullable = true)
 |-- FBI Code: string (nullable = true)
 |-- X Coordinate: integer (nullable = true)
 |-- Y Coordinate: integer (nullable = true)
 |-- Year: integer (nullable = true)
 |-- Updated On: string (nullable = true)
 |-- Latitude: double (nullable = true)
 |-- Longitude: double (nullable = true)
 |-- Location: string (nullable = true)

In [4]:
from pyspark.sql.functions import year, month, dayofweek, dayofyear, dayofmonth, weekofyear
df = df.withColumn('dttm', unix_timestamp('Date', "MM/dd/yyyy hh:mm:ss aa").cast(TimestampType()))
# df = df.withColumn('dayofweek', dayofweek('dttm')).withColumn('dayofyear', dayofyear('dttm'))
# df = df.withColumn('year', year('dttm'))
# df = df.withColumn('weekofyear', weekofyear('dttm'))
# df = df.withColumn('month', month('dttm'))
# df = df.withColumn('dayofmonth', dayofmonth('dttm'))
df.show()

+--------+-----------+--------------------+--------------------+----+--------------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+------------+-------------+--------------------+-------------------+
|      ID|Case Number|                Date|               Block|IUCR|        Primary Type|         Description|Location Description|Arrest|Domestic|Beat|District|Ward|Community Area|FBI Code|X Coordinate|Y Coordinate|Year|          Updated On|    Latitude|    Longitude|            Location|               dttm|
+--------+-----------+--------------------+--------------------+----+--------------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+------------+-------------+--------------------+-------------------+
|10000092|   HY189866|03/18/2015 07:44:...|     047XX W OHIO ST|041A|             BATTERY| AGGRAVATED: HANDGUN|              STREET| false|   false|1111|      11|  28|            25|     04B|     1144606|     1903566|2015|02/10/2018 03:50:...|41.891398861|-87.744384567|(41.891398861, -8...|2015-03-18 19:44:00|
|10000094|   HY190059|03/18/2015 11:00:...|066XX S MARSHFIEL...|4625|       OTHER OFFENSE|    PAROLE VIOLATION|              STREET|  true|   false| 725|       7|  15|            67|      26|     1166468|     1860715|2015|02/10/2018 03:50:...|41.773371528|-87.665319468|(41.773371528, -8...|2015-03-18 23:00:00|
|10000095|   HY190052|03/18/2015 10:45:...|044XX S LAKE PARK...|0486|             BATTERY|DOMESTIC BATTERY ...|           APARTMENT| false|    true| 222|       2|   4|            39|     08B|     1185075|     1875622|2015|02/10/2018 03:50:...| 41.81386068|-87.596642837|(41.81386068, -87...|2015-03-18 22:45:00|
|10000096|   HY190054|03/18/2015 10:30:...|051XX S MICHIGAN AVE|0460|             BATTERY|              SIMPLE|           APARTMENT| false|   false| 225|       2|   3|            40|     08B|     1178033|     1870804|2015|02/10/2018 03:50:...|41.800802415|-87.622619343|(41.800802415, -8...|2015-03-18 22:30:00|
|10000097|   HY189976|03/18/2015 09:00:...|    047XX W ADAMS ST|031A|             ROBBERY|      ARMED: HANDGUN|            SIDEWALK| false|   false|1113|      11|  28|            25|      03|     1144920|     1898709|2015|02/10/2018 03:50:...|41.878064761|-87.743354013|(41.878064761, -8...|2015-03-18 21:00:00|
|10000098|   HY190032|03/18/2015 10:00:...| 049XX S DREXEL BLVD|0460|             BATTERY|              SIMPLE|           APARTMENT| false|   false| 223|       2|   4|            39|     08B|     1183018|     1872537|2015|02/10/2018 03:50:...|41.805443345|-87.604283976|(41.805443345, -8...|2015-03-18 22:00:00|
|10000099|   HY190047|03/18/2015 11:00:...|   070XX S MORGAN ST|0486|             BATTERY|DOMESTIC BATTERY ...|           APARTMENT| false|    true| 733|       7|  17|            68|     08B|     1170859|     1858210|2015|02/10/2018 03:50:...|41.766402779|-87.649296123|(41.766402779, -8...|2015-03-18 23:00:00|
|10000100|   HY189988|03/18/2015 09:35:...| 042XX S PRAIRIE AVE|0486|             BATTERY|DOMESTIC BATTERY ...|           APARTMENT| false|    true| 213|       2|   3|            38|     08B|     1178746|     1876914|2015|02/10/2018 03:50:...|41.817552577|-87.619818523|(41.817552577, -8...|2015-03-18 21:35:00|
|10000101|   HY190020|03/18/2015 10:09:...| 036XX S WOLCOTT AVE|1811|           NARCOTICS|POSS: CANNABIS 30...|              STREET|  true|   false| 912|       9|  11|            59|      18|     1164279|     1880656|2015|02/10/2018 03:50:...|41.828138428|-87.672782106|(41.828138428, -8...|2015-03-18 22:09:00|
|10000104|   HY189964|03/18/2015 09:25:...| 097XX S PRAIRIE AVE|0460|             BATTERY|              SIMPLE|RESIDENCE PORCH/H...| false|   false| 511|       5|   6|            49|     08B|     1179637|     1840444|2015|02/10/2018 03:50:...| 41.71745472|-87.617663257|(41.71745472, -87...|2015-03-18 21:25:00|
|10000105|   HY189984|03/18/2015 09:30:...|130XX S DR MARTIN...|1320|     CRIMINAL DAMAGE|          TO VEHICLE|PARKING LOT/GARAG...| false|   false| 533|       5|   9|            54|      14|     1180907|     1818839|2015|02/10/2018 03:50:...|41.658138493|-87.613672862|(41.658138493, -8...|2015-03-18 21:30:00|
|10000108|   HY189719|03/15/2015 04:10:...|078XX S VINCENNES...|2825|       OTHER OFFENSE|HARASSMENT BY TEL...|CTA GARAGE / OTHE...| false|    true| 623|       6|  17|            69|      26|     1175130|     1853144|2015|02/10/2018 03:50:...|41.752406801|-87.633792381|(41.752406801, -8...|2015-03-15 16:10:00|
|10000109|   HY189966|03/18/2015 09:14:...|086XX S EXCHANGE AVE|143A|   WEAPONS VIOLATION|UNLAWFUL POSS OF ...|DRIVEWAY - RESIDE...|  true|   false| 423|       4|  10|            46|      15|     1197309|     1848290|2015|02/10/2018 03:50:...|41.738563465|-87.552678593|(41.738563465, -8...|2015-03-18 21:14:00|
|10000110|   HY190056|03/18/2015 10:50:...| 014XX S ASHLAND AVE|0460|             BATTERY|              SIMPLE|            SIDEWALK| false|   false|1233|      12|   2|            28|     08B|     1165950|     1893388|2015|02/10/2018 03:50:...| 41.86304084|-87.666288555|(41.86304084, -87...|2015-03-18 22:50:00|
|10000111|   HY190019|03/18/2015 10:31:...| 051XX W CHICAGO AVE|0860|               THEFT|        RETAIL THEFT|         GAS STATION|  true|   false|1531|      15|  37|            25|      06|     1141741|     1904839|2015|02/10/2018 03:50:...|41.894945606|-87.754874977|(41.894945606, -8...|2015-03-18 22:31:00|
|10000112|   HY189725|03/18/2015 12:55:...|077XX S KINGSTON AVE|0610|            BURGLARY|      FORCIBLE ENTRY|           APARTMENT| false|   false| 421|       4|   7|            43|      05|     1194535|     1854110|2015|02/10/2018 03:50:...|41.754602618|-87.562650741|(41.754602618, -8...|2015-03-18 12:55:00|
|10000114|   HY190071|03/18/2015 08:00:...|   024XX W NORTH AVE|0910| MOTOR VEHICLE THEFT|          AUTOMOBILE|               OTHER| false|   false|1423|      14|   1|            24|      07|     1159959|     1910569|2015|02/10/2018 03:50:...|41.910312648|-87.687806494|(41.910312648, -8...|2015-03-18 20:00:00|
|10000115|   HY190036|03/18/2015 09:00:...| 069XX S LOOMIS BLVD|0890|               THEFT|       FROM BUILDING|  GROCERY FOOD STORE| false|   false| 734|       7|  17|            67|      06|     1168192|     1858832|2015|02/10/2018 03:50:...|41.768167414|-87.659053795|(41.768167414, -8...|2015-03-18 21:00:00|
|10000116|   HY190063|03/18/2015 10:56:...|105XX S LAFAYETTE...|0470|PUBLIC PEACE VIOL...|    RECKLESS CONDUCT|               ALLEY|  true|   false| 512|       5|  34|            49|      24|     1177790|     1835106|2015|02/10/2018 03:50:...| 41.70284845|-87.624588931|(41.70284845, -87...|2015-03-18 22:56:00|
|10000117|   HY190068|03/18/2015 10:45:...| 087XX S KIMBARK AVE|0890|               THEFT|       FROM BUILDING|       BAR OR TAVERN| false|   false| 412|       4|   8|            48|      06|     1186312|     1847473|2015|02/10/2018 03:50:...|41.736588206| -87.59299436|(41.736588206, -8...|2015-03-18 22:45:00|
+--------+-----------+--------------------+--------------------+----+--------------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+------------+-------------+--------------------+-------------------+
only showing top 20 rows

In [5]:
total_entries = df.count()
print('Total Entries: ' + str(total_entries))

Total Entries: 6754279

In [6]:
first_date = df.agg({"dttm":"min"}).collect()[0][0]
print('First Date: ' + str(first_date))

last_date = df.agg({"dttm":"max"}).collect()[0][0]
print('Last Date: ' + str(last_date))

First Date: 2001-01-01 00:00:00
Last Date: 2018-11-22 23:56:00

In [33]:
from pyspark.sql.functions import year, countDistinct

# get total years from main data frame
total_years = df.agg(countDistinct(year('dttm'))).na.drop().collect()[0][0]
print('Total Years: ' + str(total_years))

per_year = df.select(year('dttm').alias('year')).groupBy('year').count().orderBy('year').na.drop()
per_year.show()

# get total years if you pull out a seperate dataframe
print('Total Years: ' + str(per_year.count()))

Total Years: 18
+----+------+
|year| count|
+----+------+
|2001|485738|
|2002|486742|
|2003|475923|
|2004|469366|
|2005|453686|
|2006|448078|
|2007|436986|
|2008|427024|
|2009|392649|
|2010|370277|
|2011|351736|
|2012|335908|
|2013|307020|
|2014|275196|
|2015|263930|
|2016|268814|
|2017|267811|
|2018|237148|
+----+------+

Total Years: 18

In [39]:
import timeit
start_time = timeit.default_timer()

max_year_value = per_year.agg({"count":"max"}).collect()[0][0]
max_year = per_year.filter(per_year['count'] == max_year_value).select('year').collect()[0][0]
print('Max Year: ' + str(max_year) + ' | ' + str(max_year_value))

# min crimes in a year
min_year_value = per_year.agg({"count":"min"}).collect()[0][0]
min_year = per_year.filter(per_year['count'] == min_year_value).select('year').collect()[0][0]
print('Min Year: ' + str(min_year) + ' | ' + str(min_year_value))

elapsed = timeit.default_timer() - start_time
print('Time to get Max and min value: ' + str(elapsed))

# average crimes in a year
avg_year_value = per_year.agg({"count":"avg"}).collect()[0][0]
print('Avg Year: ' + str(avg_year_value))

Max Year: 2002 | 486742
Min Year: 2018 | 237148
Time to get Max and min value: 76.90986901500037
Avg Year: 375224.0

In [40]:
import timeit

start_time = timeit.default_timer()
# code you want to evaluate

per_year = per_year.orderBy('count', ascending=False)
max_value = per_year.head()
print(max_value)

per_year = per_year.orderBy('count', ascending=True)
min_value = per_year.head()
print(min_value)

elapsed = timeit.default_timer() - start_time
print('Time to get Max and min value: ' + str(elapsed))

Row(year=2001, count=485738)
Row(year=2001, count=485738)
Time to get Max and min value: 41.131759101999705

In [118]:
from pyspark.sql.functions import year, month, dayofmonth, lit, concat
from datetime import datetime, timedelta
from pyspark.sql.types import StringType

per_date = df.withColumn('YYYY/MM/DD', 
                         concat(
                             year('dttm').cast(StringType()),
                             lit("/"),
                             month('dttm').cast(StringType()),
                             lit("/"),
                             dayofmonth('dttm').cast(StringType())))\
    .groupBy('YYYY/MM/DD')\
    .count()\
    .orderBy('count', ascending=False)\
    .na.drop()

print('Total Days: ' + str(per_date.count()))

per_date.show()

max_value = per_date.head()
print('Most: ' + str(max_value[0]) + ' | ' + str(max_value[1]))

per_date = per_date.orderBy('count', ascending=True)
per_date.show()

min_value = per_date.head()
print('Least: ' + str(min_value[0]) + ' | ' + str(min_value[1]))

avg_day_value = per_date.agg({"count":"avg"}).collect()[0][0]
print('Avg: ' + str(avg_day_value))

Total Days: 6535
+----------+-----+
|YYYY/MM/DD|count|
+----------+-----+
|  2003/1/1| 2023|
|  2005/1/1| 1961|
|  2007/1/1| 1946|
|  2006/1/1| 1901|
|  2004/1/1| 1890|
|  2002/1/1| 1854|
|  2009/1/1| 1818|
|  2001/1/1| 1815|
|  2008/1/1| 1801|
|  2002/6/1| 1782|
| 2002/10/1| 1763|
|2003/10/17| 1751|
| 2001/11/1| 1736|
| 2001/10/1| 1707|
|2003/10/16| 1701|
|  2004/6/1| 1698|
|  2002/8/1| 1688|
| 2003/8/21| 1683|
|  2001/6/1| 1660|
| 2003/11/1| 1655|
+----------+-----+
only showing top 20 rows

Most: 2003/1/1 | 2023
+----------+-----+
|YYYY/MM/DD|count|
+----------+-----+
|  2011/2/2|  320|
|  2014/1/6|  365|
|2017/12/25|  394|
|  2014/1/5|  404|
|2013/12/25|  425|
|2014/12/25|  438|
|  2015/1/8|  447|
|2014/11/27|  453|
| 2015/2/19|  463|
|  2014/1/7|  466|
|  2015/2/2|  469|
| 2017/3/14|  470|
|  2015/1/7|  473|
|  2014/1/2|  482|
|2016/12/25|  487|
|2018/11/22|  493|
|2015/12/25|  498|
|2017/12/24|  501|
|  2015/1/6|  502|
|2010/12/25|  503|
+----------+-----+
only showing top 20 rows

Least: 2011/2/2 | 320
Avg: 1033.5167559296099

In [120]:
from pyspark.sql.functions import year, month, dayofmonth, lit, concat
from datetime import datetime, timedelta
from pyspark.sql.types import StringType

per_month = df.withColumn('YYYY/MM', 
                         concat(
                             year('dttm').cast(StringType()),
                             lit("/"),
                             month('dttm').cast(StringType())))\
    .groupBy('YYYY/MM')\
    .count()\
    .orderBy('count', ascending=False)\
    .na.drop()

print('Total Months: ' + str(per_month.count()))

per_month.show()

max_value = per_month.head()
print('Most: ' + str(max_value[0]) + ' | ' + str(max_value[1]))

per_month = per_month.orderBy('count', ascending=True)
per_month.show()

min_value = per_month.head()
print('Least: ' + str(min_value[0]) + ' | ' + str(min_value[1]))

avg_day_value = per_month.agg({"count":"avg"}).collect()[0][0]
print('Avg: ' + str(avg_day_value))

Total Days: 215
+-------+-----+
|YYYY/MM|count|
+-------+-----+
| 2002/7|46013|
| 2001/7|44691|
| 2003/8|44267|
| 2002/8|44210|
| 2001/8|44032|
| 2003/7|43415|
|2003/10|43327|
| 2004/7|43236|
|2002/10|43145|
| 2004/8|43044|
|2001/10|43028|
| 2002/5|42913|
| 2002/6|42834|
| 2002/9|42388|
| 2001/5|41821|
| 2005/7|41805|
| 2001/6|41724|
| 2006/7|41544|
| 2005/8|41543|
|2004/10|41523|
+-------+-----+
only showing top 20 rows

Most: 2002/7 | 46013
+-------+-----+
|YYYY/MM|count|
+-------+-----+
|2018/11|14475|
| 2015/2|16344|
| 2018/2|17207|
| 2014/2|18006|
| 2016/2|18680|
| 2017/2|19229|
| 2014/1|19970|
| 2018/1|20245|
|2016/12|20323|
| 2017/3|20481|
|2015/11|20548|
| 2016/1|20584|
|2014/11|20734|
| 2015/1|20831|
|2014/12|20953|
| 2018/4|20976|
|2017/12|21002|
| 2018/3|21073|
| 2016/4|21096|
|2015/12|21102|
+-------+-----+
only showing top 20 rows

Least: 2018/11 | 14475
Avg: 31414.102325581396

In [122]:
df_desc = df.select('Description').groupBy('Description').count().orderBy('count', ascending=False).na.drop()
df_desc.show()

+--------------------+------+
|         Description| count|
+--------------------+------+
|              SIMPLE|796955|
|      $500 AND UNDER|547562|
|DOMESTIC BATTERY ...|517862|
|          TO VEHICLE|375202|
|         TO PROPERTY|355215|
|           OVER $500|348830|
|POSS: CANNABIS 30...|276637|
|      FORCIBLE ENTRY|263149|
|          AUTOMOBILE|246469|
|       FROM BUILDING|227082|
|        RETAIL THEFT|167601|
|    TELEPHONE THREAT|134604|
|             TO LAND|119847|
|         POSS: CRACK|119151|
|      UNLAWFUL ENTRY|103049|
|HARASSMENT BY TEL...|100475|
|AGGRAVATED: OTHER...| 93369|
| POSS: HEROIN(WHITE)| 92069|
|      ARMED: HANDGUN| 90622|
|STRONGARM - NO WE...| 88800|
+--------------------+------+
only showing top 20 rows

In [126]:
max_lat = df.select('Latitude').orderBy('Latitude', ascending=False).na.drop().head()[0]
min_lat = df.select('Latitude').orderBy('Latitude', ascending=True).na.drop().head()[0]
print(max_lat)
print(min_lat)
max_lon = df.select('Longitude').orderBy('Longitude', ascending=False).na.drop().head()[0]
min_lon = df.select('Longitude').orderBy('Longitude', ascending=True).na.drop().head()[0]
print(max_lon)
print(min_lon)

42.022910333
36.619446395
-87.524529378
-91.686565684