In [1]:
import platform
print(platform.python_version())

3.7.1

In [2]:
from pyspark.sql import SparkSession, types
from pyspark.sql.functions import to_timestamp, unix_timestamp, max as max_dttm
from pyspark.sql.types import *
spark = SparkSession.builder.appName('PySpark').getOrCreate()
print(spark.version)

2.4.0

In [44]:
df = spark.read.csv('chicago_crimes_2001_to_present.csv', header=True, inferSchema=True)
df.printSchema()

root
 |-- ID: integer (nullable = true)
 |-- Case Number: string (nullable = true)
 |-- Date: string (nullable = true)
 |-- Block: string (nullable = true)
 |-- IUCR: string (nullable = true)
 |-- Primary Type: string (nullable = true)
 |-- Description: string (nullable = true)
 |-- Location Description: string (nullable = true)
 |-- Arrest: boolean (nullable = true)
 |-- Domestic: boolean (nullable = true)
 |-- Beat: integer (nullable = true)
 |-- District: integer (nullable = true)
 |-- Ward: integer (nullable = true)
 |-- Community Area: integer (nullable = true)
 |-- FBI Code: string (nullable = true)
 |-- X Coordinate: integer (nullable = true)
 |-- Y Coordinate: integer (nullable = true)
 |-- Year: integer (nullable = true)
 |-- Updated On: string (nullable = true)
 |-- Latitude: double (nullable = true)
 |-- Longitude: double (nullable = true)
 |-- Location: string (nullable = true)

In [45]:
from pyspark.sql.functions import year, month, dayofweek, dayofyear, dayofmonth, weekofyear
df = df.withColumn('dttm', unix_timestamp('Date', "MM/dd/yyyy hh:mm:ss aa").cast(TimestampType()))
# df = df.withColumn('dayofweek', dayofweek('dttm')).withColumn('dayofyear', dayofyear('dttm'))
# df = df.withColumn('year', year('dttm'))
# df = df.withColumn('weekofyear', weekofyear('dttm'))
# df = df.withColumn('month', month('dttm'))
# df = df.withColumn('dayofmonth', dayofmonth('dttm'))
df.show()

+--------+-----------+--------------------+--------------------+----+--------------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+------------+-------------+--------------------+-------------------+---------+---------+----------+-----+----------+
|      ID|Case Number|                Date|               Block|IUCR|        Primary Type|         Description|Location Description|Arrest|Domestic|Beat|District|Ward|Community Area|FBI Code|X Coordinate|Y Coordinate|year|          Updated On|    Latitude|    Longitude|            Location|               dttm|dayofweek|dayofyear|weekofyear|month|dayofmonth|
+--------+-----------+--------------------+--------------------+----+--------------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+------------+-------------+--------------------+-------------------+---------+---------+----------+-----+----------+
|10000092|   HY189866|03/18/2015 07:44:...|     047XX W OHIO ST|041A|             BATTERY| AGGRAVATED: HANDGUN|              STREET| false|   false|1111|      11|  28|            25|     04B|     1144606|     1903566|2015|02/10/2018 03:50:...|41.891398861|-87.744384567|(41.891398861, -8...|2015-03-18 19:44:00|        4|       77|        12|    3|        18|
|10000094|   HY190059|03/18/2015 11:00:...|066XX S MARSHFIEL...|4625|       OTHER OFFENSE|    PAROLE VIOLATION|              STREET|  true|   false| 725|       7|  15|            67|      26|     1166468|     1860715|2015|02/10/2018 03:50:...|41.773371528|-87.665319468|(41.773371528, -8...|2015-03-18 23:00:00|        4|       77|        12|    3|        18|
|10000095|   HY190052|03/18/2015 10:45:...|044XX S LAKE PARK...|0486|             BATTERY|DOMESTIC BATTERY ...|           APARTMENT| false|    true| 222|       2|   4|            39|     08B|     1185075|     1875622|2015|02/10/2018 03:50:...| 41.81386068|-87.596642837|(41.81386068, -87...|2015-03-18 22:45:00|        4|       77|        12|    3|        18|
|10000096|   HY190054|03/18/2015 10:30:...|051XX S MICHIGAN AVE|0460|             BATTERY|              SIMPLE|           APARTMENT| false|   false| 225|       2|   3|            40|     08B|     1178033|     1870804|2015|02/10/2018 03:50:...|41.800802415|-87.622619343|(41.800802415, -8...|2015-03-18 22:30:00|        4|       77|        12|    3|        18|
|10000097|   HY189976|03/18/2015 09:00:...|    047XX W ADAMS ST|031A|             ROBBERY|      ARMED: HANDGUN|            SIDEWALK| false|   false|1113|      11|  28|            25|      03|     1144920|     1898709|2015|02/10/2018 03:50:...|41.878064761|-87.743354013|(41.878064761, -8...|2015-03-18 21:00:00|        4|       77|        12|    3|        18|
|10000098|   HY190032|03/18/2015 10:00:...| 049XX S DREXEL BLVD|0460|             BATTERY|              SIMPLE|           APARTMENT| false|   false| 223|       2|   4|            39|     08B|     1183018|     1872537|2015|02/10/2018 03:50:...|41.805443345|-87.604283976|(41.805443345, -8...|2015-03-18 22:00:00|        4|       77|        12|    3|        18|
|10000099|   HY190047|03/18/2015 11:00:...|   070XX S MORGAN ST|0486|             BATTERY|DOMESTIC BATTERY ...|           APARTMENT| false|    true| 733|       7|  17|            68|     08B|     1170859|     1858210|2015|02/10/2018 03:50:...|41.766402779|-87.649296123|(41.766402779, -8...|2015-03-18 23:00:00|        4|       77|        12|    3|        18|
|10000100|   HY189988|03/18/2015 09:35:...| 042XX S PRAIRIE AVE|0486|             BATTERY|DOMESTIC BATTERY ...|           APARTMENT| false|    true| 213|       2|   3|            38|     08B|     1178746|     1876914|2015|02/10/2018 03:50:...|41.817552577|-87.619818523|(41.817552577, -8...|2015-03-18 21:35:00|        4|       77|        12|    3|        18|
|10000101|   HY190020|03/18/2015 10:09:...| 036XX S WOLCOTT AVE|1811|           NARCOTICS|POSS: CANNABIS 30...|              STREET|  true|   false| 912|       9|  11|            59|      18|     1164279|     1880656|2015|02/10/2018 03:50:...|41.828138428|-87.672782106|(41.828138428, -8...|2015-03-18 22:09:00|        4|       77|        12|    3|        18|
|10000104|   HY189964|03/18/2015 09:25:...| 097XX S PRAIRIE AVE|0460|             BATTERY|              SIMPLE|RESIDENCE PORCH/H...| false|   false| 511|       5|   6|            49|     08B|     1179637|     1840444|2015|02/10/2018 03:50:...| 41.71745472|-87.617663257|(41.71745472, -87...|2015-03-18 21:25:00|        4|       77|        12|    3|        18|
|10000105|   HY189984|03/18/2015 09:30:...|130XX S DR MARTIN...|1320|     CRIMINAL DAMAGE|          TO VEHICLE|PARKING LOT/GARAG...| false|   false| 533|       5|   9|            54|      14|     1180907|     1818839|2015|02/10/2018 03:50:...|41.658138493|-87.613672862|(41.658138493, -8...|2015-03-18 21:30:00|        4|       77|        12|    3|        18|
|10000108|   HY189719|03/15/2015 04:10:...|078XX S VINCENNES...|2825|       OTHER OFFENSE|HARASSMENT BY TEL...|CTA GARAGE / OTHE...| false|    true| 623|       6|  17|            69|      26|     1175130|     1853144|2015|02/10/2018 03:50:...|41.752406801|-87.633792381|(41.752406801, -8...|2015-03-15 16:10:00|        1|       74|        11|    3|        15|
|10000109|   HY189966|03/18/2015 09:14:...|086XX S EXCHANGE AVE|143A|   WEAPONS VIOLATION|UNLAWFUL POSS OF ...|DRIVEWAY - RESIDE...|  true|   false| 423|       4|  10|            46|      15|     1197309|     1848290|2015|02/10/2018 03:50:...|41.738563465|-87.552678593|(41.738563465, -8...|2015-03-18 21:14:00|        4|       77|        12|    3|        18|
|10000110|   HY190056|03/18/2015 10:50:...| 014XX S ASHLAND AVE|0460|             BATTERY|              SIMPLE|            SIDEWALK| false|   false|1233|      12|   2|            28|     08B|     1165950|     1893388|2015|02/10/2018 03:50:...| 41.86304084|-87.666288555|(41.86304084, -87...|2015-03-18 22:50:00|        4|       77|        12|    3|        18|
|10000111|   HY190019|03/18/2015 10:31:...| 051XX W CHICAGO AVE|0860|               THEFT|        RETAIL THEFT|         GAS STATION|  true|   false|1531|      15|  37|            25|      06|     1141741|     1904839|2015|02/10/2018 03:50:...|41.894945606|-87.754874977|(41.894945606, -8...|2015-03-18 22:31:00|        4|       77|        12|    3|        18|
|10000112|   HY189725|03/18/2015 12:55:...|077XX S KINGSTON AVE|0610|            BURGLARY|      FORCIBLE ENTRY|           APARTMENT| false|   false| 421|       4|   7|            43|      05|     1194535|     1854110|2015|02/10/2018 03:50:...|41.754602618|-87.562650741|(41.754602618, -8...|2015-03-18 12:55:00|        4|       77|        12|    3|        18|
|10000114|   HY190071|03/18/2015 08:00:...|   024XX W NORTH AVE|0910| MOTOR VEHICLE THEFT|          AUTOMOBILE|               OTHER| false|   false|1423|      14|   1|            24|      07|     1159959|     1910569|2015|02/10/2018 03:50:...|41.910312648|-87.687806494|(41.910312648, -8...|2015-03-18 20:00:00|        4|       77|        12|    3|        18|
|10000115|   HY190036|03/18/2015 09:00:...| 069XX S LOOMIS BLVD|0890|               THEFT|       FROM BUILDING|  GROCERY FOOD STORE| false|   false| 734|       7|  17|            67|      06|     1168192|     1858832|2015|02/10/2018 03:50:...|41.768167414|-87.659053795|(41.768167414, -8...|2015-03-18 21:00:00|        4|       77|        12|    3|        18|
|10000116|   HY190063|03/18/2015 10:56:...|105XX S LAFAYETTE...|0470|PUBLIC PEACE VIOL...|    RECKLESS CONDUCT|               ALLEY|  true|   false| 512|       5|  34|            49|      24|     1177790|     1835106|2015|02/10/2018 03:50:...| 41.70284845|-87.624588931|(41.70284845, -87...|2015-03-18 22:56:00|        4|       77|        12|    3|        18|
|10000117|   HY190068|03/18/2015 10:45:...| 087XX S KIMBARK AVE|0890|               THEFT|       FROM BUILDING|       BAR OR TAVERN| false|   false| 412|       4|   8|            48|      06|     1186312|     1847473|2015|02/10/2018 03:50:...|41.736588206| -87.59299436|(41.736588206, -8...|2015-03-18 22:45:00|        4|       77|        12|    3|        18|
+--------+-----------+--------------------+--------------------+----+--------------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+------------+-------------+--------------------+-------------------+---------+---------+----------+-----+----------+
only showing top 20 rows

In [46]:
total_entries = df.count()
print('Total Entries: ' + str(total_entries))

Total Entries: 6754279

In [9]:
first_date = df.agg({"dttm":"min"}).collect()[0][0]
print('First Date: ' + str(first_date))

last_date = df.agg({"dttm":"max"}).collect()[0][0]
print('Last Date: ' + str(last_date))

First Date: 2001-01-01 00:00:00
Last Date: 2018-11-22 23:56:00
Total Entries: 6754279

In [35]:
from pyspark.sql.functions import year, month, dayofweek, dayofyear, dayofmonth
# total_years = df.select(year('dttm').alias('distinct_years')).groupBy('distinct_years').count()
# total_years.show()

from pyspark.sql.functions import col, countDistinct
# df.agg(countDistinct(col(year("dttm"))).alias("count")).show()

gr = df.groupBy(year('dttm')).agg(countDistinct(year('dttm'))).na.drop()
gr.show()
print(gr.count())
print('xx')
gr = df.groupBy(year('dttm')).count().show()
print(gr)
print('yy')
gr = df.agg(countDistinct(year('dttm')))
gr.show()
print(gr.collect()[0][0])

print('mm')
gr = df.agg(countDistinct(month('dttm')))
gr.show()
print(gr.collect()[0][0])


print('dd')
gr = df.agg(countDistinct(dayofmonth('dttm')))
gr.show()
print(gr.collect()[0][0])

# gr = df.agg(countDistinct(month('dttm'))).show()
# print(gr.collect()[0][0])

# gr = df.agg(countDistinct(dayofmonth('dttm'))).show()
# print(gr.collect()[0][0])

+----------+--------------------------+
|year(dttm)|count(DISTINCT year(dttm))|
+----------+--------------------------+
|      2003|                         1|
|      2007|                         1|
|      2018|                         1|
|      2015|                         1|
|      2006|                         1|
|      2013|                         1|
|      2014|                         1|
|      2004|                         1|
|      2012|                         1|
|      2009|                         1|
|      2016|                         1|
|      2001|                         1|
|      2005|                         1|
|      2010|                         1|
|      2011|                         1|
|      2008|                         1|
|      2017|                         1|
|      2002|                         1|
+----------+--------------------------+

18
xx
+----------+------+
|year(dttm)| count|
+----------+------+
|      2003|475923|
|      2007|436986|
|      2018|237148|
|      2015|263930|
|      2006|448078|
|      2013|307020|
|      null|   247|
|      2014|275196|
|      2004|469366|
|      2012|335908|
|      2009|392649|
|      2016|268814|
|      2001|485738|
|      2005|453686|
|      2010|370277|
|      2011|351736|
|      2008|427024|
|      2017|267811|
|      2002|486742|
+----------+------+

None
yy
+--------------------------+
|count(DISTINCT year(dttm))|
+--------------------------+
|                        18|
+--------------------------+

18
mm
+---------------------------+
|count(DISTINCT month(dttm))|
+---------------------------+
|                         12|
+---------------------------+

12
dd
+--------------------------------+
|count(DISTINCT dayofmonth(dttm))|
+--------------------------------+
|                              31|
+--------------------------------+

31

In [22]:
from pyspark.sql.functions import year
year_general = df.select(year('dttm').alias('year')).groupBy('year').count().orderBy('year')
year_general.show()
# year_general_max = year_general.agg({"year":"max"}).collect()[0][0]
# print(year_general_max)
# year_general.filter(year_general['count'] == year_general_max).show()
# print(year_general.agg({"year":"min"}).collect()[0][0])
# print(year_general.agg({"year":"avg"}).collect()[0][0])

+----+------+
|year| count|
+----+------+
|null|   247|
|2001|485738|
|2002|486742|
|2003|475923|
|2004|469366|
|2005|453686|
|2006|448078|
|2007|436986|
|2008|427024|
|2009|392649|
|2010|370277|
|2011|351736|
|2012|335908|
|2013|307020|
|2014|275196|
|2015|263930|
|2016|268814|
|2017|267811|
|2018|237148|
+----+------+

In [7]:
max_value = year_general.agg({"count":"max"}).collect()[0][0]
max_year = year_general.filter(year_general['count'] == max_value).collect()[0][0]
print(str(max_year) + ": " + str(max_value))

2002: 486742